<h3>Hi.</h3><br/>
<h2>My name is Shane.</h2><br/>
<h1>I fix things and solve problems.</h1><br/>
<br/>
<p>
    I can currently be found in San Diego, CA leading the newly created Implementaion and Partner Engineering Team
    for <a href="https://kibocommerce.com/" target='#'>Kibo Commerce</a>.<br/><br/>
    In my free time I like going for long walks with my dog, 
    watching (and probably being very frustrated with) the Boston Red Sox, 
    working on a new uDemy course or hacking away on a problem from <a href='https://projecteuler.net/' target='#'>Project Euler</a>. 
    When it's time to really unplug and hit the reset button I love traveling the world with my girlfriend. 
    Copenhagen, Denmark is my favorite city on Earth not named San Diego.
    
    <br/><br/>
    For more information about how I can solve problems for you please check out my
    <strong><a href='resume'>Resume</a></strong> or <strong><a href=# data-toggle="modal" data-target="#medModal">contact me directly.</a></strong>
</p>