<footer class='footer fixed-bottom'>
    <div class='form-group'>
        <a href='https://github.com/S-McNair'>GitHub</a>
        |
        <a href='https://www.linkedin.com/in/shanemcnair'>LinkedIn</a>
        |
        <a href='mailto:shane.mcnair@gmail.com'>shane.mcnair@gmail.com</a>
        |
        <span class='footer-by'>Created and maintained by: Shane McNair</span>
    </div>
</footer>