<div class="modal fade" id="medModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="myModalLabel">Contact Shane</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Please fill out the form below:</h5>
          <br/>
          <div id='contact-modal'>
            <form action="/thanks" method="POST">
              <label for="firstName">First Name:</label>
              <br />
              <input id="firstName" name="firstName" type="text">
              <br />
              <br />
              <label for="lastName">Last Name:</label>
              <br />
              <input id="lastName" name="lastName" type="text">
              <br />
              <br />
              <label for="email">Email:</label>
              <br />
              <input id="email" name="email" type="text">
              <br />
              <br />
              <label for='message'>Message for Shane:</label>
              <br />
              <textarea cols='45' rows='5' name='message' id='message' class='centerinput' placeholder='Enter message for Shane here'></textarea>
              <br/>
          </div>
        </div>
        <div class="modal-footer">
          <button type='submit button' class='btn btn-submit'>Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  </div>