
  <nav class='navbar navbar-dark navbar-expand-lg fixed-top'>
    <div class='container-fluid'>

      <div class='navbar-header'>
        <a class='navbar-brand' href='./' style='color:blanchedalmond' >Shane McNair</a>
      </div>

      <ul class='nav navbar-nav mr-auto'>
        <li>
          <a class='active nav-text' href='about'>About Me</a>|
        </li>
        <li>
          <a class='nav-text active' href='resume'>Resume</a>|
        </li>
        <li>
          <a class='nav-text active' href='home'>Home</a>|
        </li>
        <li>
          <a class='nav-text' href=# data-toggle="modal" data-target='#medModal'>Contact</a>| 
            <!-- activates modal, which is not properly configured for sending emails;need to add Nodemailer -->
          <!-- <a class='nav-text' href='mailto:shane.mcnair@gmail.com' method='post'>Contact</a>| -->
        </li>
      </ul>

      <div>
        <a class='nav-text' href='https://www.linkedin.com/in/shanemcnair/' target='blank'>
          <span class='linkedIn fa fa-linkedin-square' style='font-size:36; padding-right:10'></span>
        </a>
      </div>

      <div>
        <a class='nav-text' href='https://github.com/S-McNair' target='blank'>
          <span class="github fa fa-github-square" style="font-size:36"></span>
        </a>
      </div>

    </div>
  </nav>