<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link type='text/css' rel='stylesheet' href='style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link href='' />
    <title>All About Shane</title>
</head>

<body>


    <nav class='navbar navbar-dark navbar-expand-lg fixed-top'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <a class='navbar-brand' href='./' style='color:blanchedalmond'>Shane McNair</a>
            </div>

            <ul class='nav navbar-nav mr-auto'>
                <li>
                    <a class='active nav-text' href='./'>Home </a>
                </li>
                <li>
                    <a class='nav-text' href='projects'>Projects </a>
                </li>
                <li>
                    <a class='nav-text active' href='about'>Test </a>
                </li>
                <li>
                    <a class='nav-text' href='contact'>Contact </a>
                </li>
                <li>
                    <a class='nav-text' href=# data-toggle="modal" data-target="#medModal">Modal Test</a>
                </li>
            </ul>
            <div>
                <a class='nav-text' href='https://www.linkedin.com/in/shanemcnair/' target='blank'>
                    <span class='linkedIn fa fa-linkedin-square' style='font-size:36; padding-right:10'></span>
                </a>
            </div>
            <div>
                <a class='nav-text' href='https://github.com/S-McNair' target='blank'>
                    <span class="github fa fa-github-square" style="font-size:36"></span>
                </a>
            </div>
        </div>
    </nav>


    <!-- <a href=# data-toggle="modal" data-target="#medModal" >Modal Perhaps</a> -->
    <br />
    <br />

    <div class="modal fade" id="medModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">Contact Shane</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Please fill out the form below:</h5>

                    <div id='contact-modal'>
                        <form action="/thanks" method="POST">
                            <!-- <label for="firstName">First Name:</label> -->
                            <br />
                            <input id="firstName" name="firstName" type="text" placeholder="First Name">
                            <br />
                            <!-- <label for="lastName">Last Name:</label> -->
                            <br />
                            <input id="lastName" name="lastName" type="text" placeholder="Last Name">
                            <br />
                            <!-- <label for="email">Email:</label> -->
                            <br />
                            <input id="email" name="email" type="text" placeholder="Email Address">
                            <br />
                            <!-- <label for='message'>Message for Shane:</label> -->
                            <br />
                            <textarea cols='50' rows='5' name='message' id='message' class='centerinput' placeholder='Enter message for Shane here'></textarea>
                            <br/>
                            <!-- <input type='submit' /> -->
                            <!-- </form> 
                      </div> -->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                        <button type='submit button' class='btn btn-dark'>Submit</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- -->

    <ul style='text-align:center; list-style-type: none'>
        <h4 style='text-decoration:underline'>These are things about me!</h4>
        <br />
        <li>Normal Shaped Head</li>
        <li>Distinguished Nose</li>
        <li>Good at Math</li>
        <li>Terrific Speller</li>
        <li>Voted '#1 Most Best Looking Man in San Diego'</li>
    </ul>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>