<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link type='text/css' rel='stylesheet' href='style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link href='' />
    <title>All About Shane</title>
</head>

<body class='resume-body'>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BEGIN NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  -->

    <nav class='navbar navbar-dark navbar-expand-lg fixed-top'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <a class='navbar-brand' href='./' style='color:blanchedalmond'>Shane McNair</a>
            </div>

            <ul class='nav navbar-nav mr-auto'>
                <li>
                    <a class='active nav-text' href='./'>Home </a>
                </li>
                <li>
                    <a class='nav-text' href='projects'>Projects </a>
                </li>
                <li>
                    <a class='nav-text active' href='resume'>Resume </a>
                </li>
                <li>
                    <a class='nav-text' href='contact'>Contact </a>
                </li>
            </ul>
            <div>
                <a class='nav-text' href='https://www.linkedin.com/in/shanemcnair/' target='blank'>
                    <span class='linkedIn fa fa-linkedin-square' style='font-size:36; padding-right:10'></span>
                </a>
            </div>
            <div>
                <a class='nav-text' href='https://github.com/S-McNair' target='blank'>
                    <span class="github fa fa-github-square" style="font-size:36"></span>
                </a>
            </div>
        </div>
    </nav>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  -->

    <br />
    <br />
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BEGIN RESUME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  -->

    <div >

            <h1 class='resume-header'><b>SHANE McNAIR</b></h1>
            <p class='resume-header'><span class='resume-li'><a href="mailto:Shane.mcnair@gmail.com">Shane.mcnair@gmail.com</a></span></p>
            <p class='resume-header'>San Diego, CA 92107</p>
            <p class='resume-header'><a href="https://files.acrobat.com/a/preview/f1331b60-f733-4e4c-9ec8-628e11a65383" target="_blank" rel="noopener">pdf link</a></p>
            <p class='resume-header'><b> </b></p>
            
             <h3 class='section-title'><span >SKILLS & QUALIFICATIONS:</span></h3><br />
            <ul>
                <li><span class='resume-li'>Confident and charismatic natural leader with a relentless work ethic</span></li>
                <li><span class='resume-li'>Competitive self-starter with the ability to prioritize, multi-task and effectively make</span></li>
                <li><span class='resume-li'>decisions in high pressure situations</span></li>
                <li><span class='resume-li'>Highly trainable, quick learner with effective study skills and a positive attitude</span></li>
                <li><span class='resume-li'>Aptitude for problem solving and the ability to determine solutions for customers </span></li>
                <li><span class='resume-li'>Superb time management, organization and customer service skills</span></li>
                <li><span class='resume-li'>Excellent written and verbal communication and interpersonal skills</span></li>
                <li><span class='resume-li'>Outstanding presentation design and delivery </span></li>
                <li><span class='resume-li'>MS Office Excel / Word / Power Point / Outlook</span></li>
            </ul>
            <p class='resume-header'><b> </b></p>
            
            <!-- <h3></h3> -->
             <h3 class='section-title'><span >PROFESSIONAL EXPERIENCE:</span></h3><br />
            <h4><span class='company-name'>Advanced Test Equipment Rental Corp – San Diego, CA (February 2015 – November 2017)</span></h4>
            <p style="text-align: left;"><span class='job-title'>Calibration Technician II</span></p>
            
           <ul class='resume-ul' >
                <li ><span class='resume-li'>Apply knowledge of measurement science, mathematics, physics and electronics to calibrate inspection, measurement and test equipment</span></li>
                <li ><span class='resume-li'>Assist Technical Support to quickly resolve customer issues</span></li>
                <li ><span class='resume-li'>Analyze measurement data for identifying abnormalities, trends and predicting future values</span></li>
            </ul>
            <h4><span class='company-name'>Miratum Public Relations – San Diego, CA (September 2013 – November 2014)</span></h4>
            <p style="text-align: left;"><span class='job-title'>Media Outreach Intern</span></p>
            
           <ul class='resume-ul' >
                <li ><span class='resume-li'>Performed data analytics, market research, corporate reconnaissance and statistical analysis in support of EPIC Race Series</span></li>
                <li ><span class='resume-li'>Conducted successful cold-calling media outreach campaign in Orange County on behalf of EPIC Race Series leading up to their event in Newport Beach, CA</span></li>
                <li ><span class='resume-li'>Responsible for entering data into and maintaining the Wireless Reach Media Coverage Data Base</span></li>
            </ul>
            <h4 style="text-align: left;"><span class='company-name'>AMEE BAY LLC – National City, CA (May 2009 – June 2010)</span></h4>
            <p style="text-align: left;"><span class='job-title'>Electrician</span></p>
            
            <ul style="text-align: left;">
                <li><span class='resume-li'>Maintained and repaired 120Volt and 440Volt power and lighting distribution circuits</span></li>
                <li><span class='resume-li'>Warehouse clerk responsible for maintaining inventory on install equipment, spare parts and portable tools</span></li>
            </ul>
            <h4><span class='company-name'>UNITED STATES NAVY – (February 2005 – May 2009)</span></h4>
            <p style="text-align: left;"><span class='job-title'>Electrician’s Mate</span></p>
            
           <ul class='resume-ul' >
                <li ><span class='resume-li'>Directly trained, supervised and acted as lead worker for subordinates on a daily basis</span></li>
                <li ><span class='resume-li'>Operated and maintained power and lighting circuits, electrical fixtures, film projectors, motors, generators, controllers, switchboards, voltage and frequency regulators</span></li>
            </ul>
            <p class='resume-header'><b> </b></p>
            
            <h3></h3>
            <h3 class='section-title'><span >EDUCATION & TRAINING:</span></h3><br />
            <h4><span class="ed-titles">Web Development</span></h4>
            Origin Code Academy / San Diego, CA
            
            Expected Graduation Date: 08 / 2018
            <h4><span class='ed-titles'>Baccalaureate of Science Degree in Electrical Engineering / GPA: 3.55</span></h4>
            <p style="text-align: left;"><span class='resume-li'>ITT Technical Institute / San Diego, CA</span></p>
            <p style="text-align: left;"><span class='resume-li'>Graduation Date: 11 / 2014</span></p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>