<html>

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet'>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4'
    crossorigin='anonymous'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
  <link rel='stylesheet' href='style.css' />
    <title>Shane's Resume</title>
</head>

<body class='resume-body'>
 <!-- Modal -->
    <% include partials/modal %>
 <!-- Navbar -->
   <% include partials/navBar %>
 <!-- Body -->
    <div class='resume-content' >

        <h1 class='resume-header'>
            <b>SHANE McNAIR</b>
        </h1>
        <div class='resume-header'>
            <a href="mailto:Shane.mcnair@gmail.com">Shane.mcnair@gmail.com</a>
        </div>
        <div class='resume-header'>San Diego, CA 92107</div>
        <div class='resume-header' style="padding: 0 0 10px 0">
            <a href='https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:d05c573a-b58b-4a81-b1b0-264401655fc3' target="_blank" rel="noopener">pdf link</a>
        </div> 
    
        <div id="skillsContainer">
            <h3 class='section-title'>SKILLS & TECHNOLOGIES</h3>
            <ul id="skillsList"></ul>
        </div>
        <h3 class='section-title'>PROFILE</h3>
        <p>
            Dedicated problem solver with a sparkling reputation for customer service committed to resolving client
            issues in a timely, efficient and professional manner. I have a background in both front and backend support
            engineering working with live production databases in an e-comm SaaS environment. By focusing on clear
            communication and utilizing a wide range of technologies I aim to consistently deliver the highest quality
            experience and solutions for clients.
        </p>

        <div id="experienceContainer">
            <h3 class='section-title'>PROFESSIONAL EXPERIENCE</h3>
            
            <h4 id='kiboTitle' class='job-title'></h4>
                <p class='company-name resume-ul' id="kiboCompanyDates" style="text-align: left;"></p>
                <ul class='resume-ul' id='kiboBullets'></ul>

            <h4 id='atecTitle' class='job-title'></h4>
                <p class='company-name' id="atecCompanyDates" style="text-align: left;"></p>
                <ul class='resume-ul' id='atecBullets'></ul>

            <h4 id='navyTitle' class='job-title'></h4>
                <p class='company-name' id="navyCompanyDates" style="text-align: left;"></p>
                <ul class='resume-ul' id='navyBullets'></ul>
        </div>

        <h3 class='section-title'>
            <span>EDUCATION & TRAINING</span>
        </h3>
        <h4>
            <span class="ed-titles">Web Development</span>
        </h4>
        <p style="text-align: left;">
            <span class='resume-li'>Origin Code Academy / San Diego, CA</span>
        </p>
        <p style="text-align: left;">
            <span class='resume-li'>Graduation Date: 08 / 2018</span>
        </p>
        <h4>
            <span class='ed-titles'>Baccalaureate of Science Degree in Electrical Engineering / GPA: 3.55</span>
        </h4>
        <p style="text-align: left;">
            <span class='resume-li'>ITT Technical Institute / San Diego, CA</span>
        </p>
        <p style="text-align: left;">
            <span class='resume-li'>Graduation Date: 11 / 2014</span>
        </p><br/>
    </div>
<!-- Footer -->
    <% include partials/footer%>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BEGIN JS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  -->
    <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo'
    crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49'
    crossorigin='anonymous'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js' integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T'
    crossorigin='anonymous'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/1.0.0/typewriter.min.js"></script>
    <script type="module">
        const expArray = [
                            {
                                name        : 'kibo',
                                org         : 'Kibo Commerce',
                                startDate   : 'October 2018',
                                endDate     : 'Current',
                                titles      : [
                                            'Support Engineer II', 
                                            'Support Engineer I'
                                            ], //titles in descending order, index 0 = current title
                                bulletPoints: [
                                            'Promoted to Support Engineer II for consistent delivery of high quality solutions to clients',
                                            'Responsible for prioritizing, triaging, and resolving incidents for enterprise clients in a fast-paced environment',
                                            'Respond to clients with accurate and articulate answers to technical questions',
                                            'Collaborate across teams to identify and resolve the root cause of technical issues',
                                            'Take ownership of technical issues and drive them through to resolution'
                                            ]
                                },
                            {
                                name        : 'atec',
                                org         : 'Advanced Test Equipment',
                                startDate   : 'February 2015',
                                endDate     : 'November 2017',
                                titles      : [
                                            'Fiber Optics Calibration Technician II', 
                                            'Fiber Optics Calibration Technician I'
                                            ], //titles in descending order, index 0 = current title
                                bulletPoints: [
                                            'Promoted to Fiber Optics Calibration Technician II for consistent delivery of accurate, well-documented products',
                                            'Ensured accurate measurement and full operational safety for a variety of fiber optics and electrical installation and test equipment'
                                            ]
                                },

                            {
                                name        : 'navy',
                                org         : 'United States Navy',
                                startDate   : 'February 2005',
                                endDate     : 'May 2009',
                                titles      : [
                                            'Electrician'
                                            ], //titles in descending order, index 0 = current title
                                bulletPoints: [
                                            'Promoted three times within four years and received an Honorable Discharge at the conclusion of my enlistment contract',
                                            'Responsible for troubleshooting, repair and maintenance of shipboard electricalsystems'
                                            ]
                                }
                        ];

        const createNewElement = (elementType, innerText) => {
            const newEl = document.createElement('button');

            return newEl.innerText = innerText;
        }
        const populateExperienceBullets = (expArray) => {
            const expBulletElement       = document.getElementById(`${expArray.name}Bullets`);
            const expCompanyDatesElement = document.getElementById(`${expArray.name}CompanyDates`);
            const expTitleElement        = document.getElementById(`${expArray.name}Title`);
            const expCompanyElement      = document.getElementById(`${expArray.name}Company`);
            // const emptyLineItem = document.createElement('li');

            const titles   = expArray.titles.map((item) => `<h4 style="list-style-type: none;">${item}</h4>`)
            const orgDates = `<span class='company-name'>${expArray.org} – San Diego, CA (${expArray.startDate} – ${expArray.endDate})</span>`
            const lineItem = expArray.bulletPoints.map((item) => `<li>${item}</li>`);

            return (
                expTitleElement.innerHTML = titles.join(''),
                expCompanyDatesElement.innerHTML = orgDates,
                expBulletElement.innerHTML = lineItem.join('')
            )
        };
        expArray.map((item) => populateExperienceBullets(item))
    </script>
        
</body>

</html>