@media only screen and (max-width: 800px) {
  #landing-title {
    font-size: 20;
    color: green;
  }
  #subTitle {
    font-size: 7; 
    color: purple;   
  }
  .navbar {
    height: 5%;
  }
  .nav-text {
    font-size: 10;
  }
}

@media only screen and (max-width: 1000px) {
  #landing-title, .title {
    font-size: 60;
  }
  #subTitle {
    font-size: 24; 
  }
  .navbar {
    background-color:yellow;
  }
  .nav-text {
    font-size: 14;
  }
}

html {
  margin: 0px;
  min-height: 100%;
}

body {
  /* background: rgb(31,31,31); */
  background-color: rgb(20, 20, 20);
  padding-top: 40;
  color: blanchedalmond;
  font-family: "Roboto mono", monospace;
  /* height: 680px; */
  margin: 0px;
}

.page-header {
  text-align: center;
}

.title {
  font-family: "Roboto mono", monospace;
  position: center;
  font-size: 70;
  padding-top: 275;
  /* color: blanchedalmond; */
}

#landing-title {
  color: white;;
}

.top-centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-subTitle {
  font-size: 33;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.footer {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: black;
  font-size: 0.75em;
}

.footer-by {
  float: right;
  /* position: absolute; */
  bottom: 10px;
}

.navbar {
  background-color:black;
}

.nav-text {
  color:blanchedalmond;
  padding-left:10;
  padding-right:10;
}

.navbar-brand {
  color:blanchedalmond
}

#contact-form {
  padding-left: 50;
}

.projects-background-img {
  filter: blur(1px);
}

.proj_screenshot {
  width: 100%;
  height: 40%
}

.proj-text {
  padding-top: 25px;
  padding-bottom: 10px;
}

/* .projects-card {
  background-color: rgb(31,31,31);
  text-align: center;
  border: none;
} */
/* -----------------------------CONTACT MODAL----------------------------------*/
.modal-body {
  background-color: darkgrey;
  color: black;
}

.modal-header, .modal-footer {
  background-color: lightgrey;
  color: black;
}

.btn-submit {
  background-color: red;
  color: white;
}

.contact {
  text-align: center;
}
/* -----------------------------RESUME---------------------------------------*/
.resume-body {
  color: rgb(160, 178, 196);
}

.company-name, .job-title, .ed-titles, #skillsList{
  color: rgb(217, 216, 241);
} 

.resume-header, .section-title  {
  font-weight: bold;
  color: darkred;
  padding-top: 10px;
}

.resume-content {
  margin: 50px;
}

#profileContainer, #skillsList {
  padding: 0 0 0 25px;
}

.company-name, .job-title {
  font-size: 0.9em;
}

.ed-titles {
  padding: 10 0 0 0;
}

/* -----------------------------THANK YOU---------------------------------------*/
.thankYou {
  text-align: center;
  font-size: 50;
  padding-top: 200;
}

.thanks-btn {
  color: blanchedalmond; 
  margin-left: 350;
  margin-right:350;
}
/* -----------------------------ABOUT ME---------------------------------------*/
.aboutMe-txt {
  margin: 50px;
  /* background-color: black; */
}
