body {
  /* background:darkgray; */
  background:black;
  padding-top: 40;
  color: blanchedalmond;
  font-family: "Roboto mono", monospace; 
}

.page-header {
  text-align: center;
}

.title {
  font-family: "Roboto mono", monospace; 
  font-size: 84;
  color: blanchedalmond;
}

#subTitle {
  font-size: 33;
}

.top-centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-subTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}


.navbar {
  background-color:black;
}

.nav-text {
  color:blanchedalmond;
  padding-left:10;
  padding-right:10;
}

.navbar-brand {
  color:blanchedalmond
}

#contact-form {
  padding-left: 50;
}

.proj_screenshot {
  width: 100%;
  height: 40%
}

.proj-text {
  padding-top: 25px;
  padding-bottom: 10px;
}

.projects-card {
  background-color: black;
  text-align: center;
}

.modal {
  color: black;
}

.contact {
  text-align: center;
}

.resume-body {
  background: lightgray;
  color:black;
  margin: 50;
}

.resume-header {
  text-align:center;
  color: darkred;
}

.resume {
  /* text-align:'center'; */
  /* font-weight: 400; */
}

.section-title {
  color: darkred;
  text-align: center;
}

.company-name {
  color: darkblue;
}

.job-title {
  color: darkblue;
}

.ed-titles {
  color:darkblue;
}

.resume-li {
  text-align: left;
}

.thankYou {
  text-align: center;
  font-size: 50;
  padding-top: 200;
}

.thanks-btn {
  color: blanchedalmond; 
  margin-left: 350;
  margin-right:350;
}

.aboutMe-txt {
  margin: 50px;
}
